<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
<div class="container">
    
    <div class="row justify-content-around">
        <div class="col-4">
            <button type="button" class="btn btn-outline-success btn-rounded waves-effect"><i class="fas fa-cogs pr-2"
                    aria-hidden="true"></i>Success</button>
        </div>
        <div class="col-4">
        <button type="button" class="btn btn-outline-success btn-rounded waves-effect"><i class="fas fa-plus-circle"></i>Success</button>
        </div>
    </div>
    
</div>